---
import "@fontsource-variable/inter";
import Compatibility from "~/components/compatibility.astro";
import Contact from "~/components/contact.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";

import Services from "~/components/services.astro";
import Skills from "~/components/skills.astro";
import Splash from "~/components/splash.astro";
import Team from "~/components/team.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Build fast websites, faster. Astro is a new kind of site builder for the modern web. Lightning-fast performance meets powerful developer experience.";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/src/assets/favicon.webp" type="image/webp" />
    <meta name="generator" content={generator} />

    <title>codestructors</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="codestructors" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="space-y-24 px-8 py-32">
      <Skills />
      <Services />
      <Team />
      <Contact />
    </div>
    <Footer />
  </body>
</html>
