---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="kontakt" id="contact">
  <Fragment slot="lead">
    Buchen Sie jetzt Ihren <span class="text-primary">kostenlosen</span> Ersttermin, um über eine mögliche zukünftige Zusammenarbeit zu sprechen. Wir freuen uns auf Ihren Kontakt!
  </Fragment>
  <iframe width="100%" height="780" src="https://meet.brevo.com/codestructors/borderless?l=intro" class="bg-inherit dark:bg-slate-300"></iframe>
</ContentSection>
