---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "UI/UX Design",
    description:
    "Von Konzept bis Komplettlösung: Unser breites Leistungsspektrum deckt Ihre Designanforderungen ab und realisiert nachhaltige Lösungen.",
    icon: "mdi:pencil-ruler",
  },
  {
    title: "App- & Web-Entwicklung",
    description:
      "Optimierungspotenziale erkennen: Unser Unternehmen analysiert Ihre Prozesse und entwickelt maßgeschneiderte Softwarelösungen, um Ihre Effizienz und Produktivität zu steigern. Kontaktieren Sie uns für Ihren nächsten Schritt.",
    icon: "mdi:xml",
  }
];
---

<ContentSection title="unsere leistungen" id="services">
  <Fragment slot="lead">
    codestructors ist Ihr <span class="text-primary">Rundum-Partner</span> für <span class="text-primary">maßgeschneiderte Softwarelösungen</span>. Unsere Leistungen umfassen
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
