---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Beratung",
    description:
      "Von der Idee zum Ergebnis: Lassen Sie uns Ihre Vision in die Realität umsetzen. Individuelle Anforderungen werden zu maßgeschneiderten Lösungen.",
    icon: "mdi:message",
  },
  {
    title: "Prozessoptimierung",
    description:
      "Wir automatisieren Unternehmensprozesse ganzheitlich. Mit vielseitiger Kompetenz bewältigen wir Herausforderungen in Webpräsenz, Software und Prozessoptimierung.",
    icon: "mdi:cogs",
  },
  {
    title: "Umsetzung",
    description:
      "Effizienz steigern, Wachstum fördern: Unsere maßgeschneiderten Lösungen vereinfachen und optimieren Ihre Geschäftsprozesse.",
    icon: "mdi:rocket-launch",
  }
];
---

<ContentSection title="unsere kompetenzen" id="skills">
  <Fragment slot="lead">
    Wir begleiten Sie von der <span class="text-primary">Idee bis zur Realisierung</span>, <span class="text-primary">steigern</span> Ihre <span class="text-primary">Effizienz</span>
    und bringen Ihre <span class="text-primary">Visionen</span> zum <span class="text-primary">Leben</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
