---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { TeamMember } from "~/types";
import { Image } from "astro:assets";
import nico from "../assets/nico.webp"
import carl from "../assets/carl.webp"
import daniel from "../assets/daniel.webp"
import circle from "../assets/circle.svg"

const features: Array<TeamMember> = [
  {
    name: "Nico",
    skill: "Software Engineer",
    role: "Partner",
    image: nico,
  },
  {
    name: "Carl",
    skill: "Software Engineer/AI Specialist",
    role: "Gründer",
    image: carl,
  },
  {
    name: "Daniel",
    skill: "UI/UX Designer",
    role: "Partner",
    image: daniel,
  }
];
---

<ContentSection title="unser team" id="team">
  <Fragment slot="lead">
    codestructors ist Ihr <span class="text-primary">Rundum-Partner</span> für <span class="text-primary">maßgeschneiderte Softwarelösungen</span>. Unsere Leistungen umfassen
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-3">
    {
      features.map(({ name, skill, role, image }) => (
        <li class="flex flex-col items-center gap-x-4 p-6">
          <div class="p-3 relative">
            <Image
              class="object-cover"
              src={image}
              alt={name}
              class="team-member-image inline"
            />
          </div>
          <p class="text-center font-extrabold text-xl -mt-24 md:-mt-28">{name}</p>
          <p class="text-center text-offset text-sm">{skill}</p>
          <p class="text-center text-offset text-sm">{role}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>

<style>
  .team-member-image {
    mask-image: url("/src/assets/circle.svg");
    mask-position: 50% 30%;
    mask-repeat: no-repeat;
    mask-size: 90%;
    background-color: black;
  }
</style>
