---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import "../styles/index.css";
const { frontmatter } = Astro.props;
---
<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>{frontmatter.title}</title>
    <script is:inline>
        const themeSaved = localStorage.getItem("theme");
  
        if (themeSaved) {
          document.documentElement.dataset.theme = themeSaved;
        } else {
          const prefersDark = window.matchMedia(
            "(prefers-color-scheme: dark)",
          ).matches;
          document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
        }
  
        window
          .matchMedia("(prefers-color-scheme: dark)")
          .addEventListener("change", (event) => {
            if (!localStorage.getItem("theme")) {
              document.documentElement.dataset.theme = event.matches
                ? "dark"
                : "light";
            }
          });
      </script>
  </head>
  <body>
    <!-- Add other UI components here, like common headers and footers. -->
    <Header />
    <h1>{frontmatter.title}</h1>
    <!-- 2. Rendered HTML will be passed into the default slot. -->
    <slot />
    <Footer />
  </body>
</html>